body{
	background-color: #f7f7f7;
}

#main-container{
	margin: 150px auto;
	width: 600px;
}

table{
	background-color: 0e0e10;
	color: rgb(0, 0, 0);
	text-align: left;
	width: 80%;
	

}

th, td{
	padding: 15px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;

	
}
th{
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;	

}

thead{
	background-color: #630000d8;
	color: white;
}

tr:nth-child(even){
	background-color: rgb(223, 223, 223);
	
}

#izq{
background-color: rgb(223, 223, 223);
}